@page
@model DashboardModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="container">
    <partial name="Shared/_Flashes" />
    
    <h1 class="text-center mb-4">Dashboard</h1>
    
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">Rallies</div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Location</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var rally in Model.Rallies.Where(r => !r.Hidden))
                        {
                            <tr>
                                <td>@rally.Name</td>
                                <td>@rally.Location</td>
                                <td>@rally.Description</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-header">Add Attendee</div>
                <div class="card-body">
                    <form method="post">
                        <div class="mb-3">
                            <label for="attendee_name" class="form-label">Name</label>
                            <input class="form-control" id="attendee_name" asp-for="AttendeeName" />
                        </div>
                        <div class="mb-3">
                            <label for="entrance_code" class="form-label">Entrance Code</label>
                            <input class="form-control" id="entrance_code" asp-for="AttendeeEntranceCode" readonly/>
                        </div>
                        <div class="mb-3">
                            <label for="attendee_rally" class="form-label">Rally</label>
                            <select class="form-select" id="attendee_rally" asp-for="RallyId">
                                @foreach (var rally in Model.Rallies.Where(r => !r.Hidden))
                                {
                                    <option value="@rally.Id">@rally.Name</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Add Attendee</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>